var/**
tmp/**
history
.cache/**
*scratch*
bookmarks
backups/**
info-history
auto-save-list/**
filesets-cache.el
org-clock-save.el
lisp/cool-moves/**
projectile-bookmarks.eld
flycheck_filesets-cache.el
recentf
pdf-view
